


#TOPB__boxAmounts{
    border: 3px solid #ffc107;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.margin5{
    margin: 5px;
}

#TOPB__CodePromo, #TOPB__ValidBasket {
    width: 100%;
    display: flex;
}

#TOPB__CodePromo label, #TOPB__CodePromo input{
    align-self: center;
    margin-right: auto;
    margin-left: auto;
}

#TOPB__CodePromo form, #TOPB__ValidBasket .btn{
    width: 80%;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
}

.borderL{
    border-left: 2px solid #ffc107;
    border-bottom: 2px solid #ffc107;
    border-radius: 15px;
}

.margeProduct{
    margin-top: 5px;
    margin-bottom: 5px;;
}

.centerFull{
    margin:auto;

}

